* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menubar-list {
    list-style-type: none;
    display: flex;
}

.menu-items.active {
    flex-direction: column;
    position:fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 4rem;
    background-color: #fff;
    display: none;
}

.menu-items.active.open {
    display: flex;
}

.menu-items.active .menu-item.active {
    background-color: #fff;
}

header h2 {
    margin: 0 25px;
}

li {
    display: inline-block;
    padding: 10px;
}

header {
    display: flex;
    align-items: center;
    background: white;
    min-height: 75px;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 9999;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    align-items: center;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #4A2574;
}

#hamburger:hover {
    cursor:pointer
}

.sign-in-register-button {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #4A2574;
    color: white;
    padding: 5px;
    width: 75px;
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.sign-in-register-button:hover {
    background-color: white;
    color: #4A2574;
    border-color: #4A2574;
    transition-duration: 0.2s;
}

.menu-item {
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
}

.menu-item:hover {
    color: #833fd2;
    transition-duration: 0.2s;
}

.menu-item.active {
    background-color: rgb(247, 247, 247);
    padding: 5px;
    border-radius: 5px;
}

.menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

#homepage-first-section {
    background-color: #CDBDDF;
}

#homepage-first-section-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#homepage-maintext {
    font-size: 75px;
}

#homepage-captiontext {
    color: rgb(105, 105, 105);
    font-size: 30px;
}

#homepage-second-section-content {
    margin: 50px;
}

#second-section-subheadingtext {
    line-height: 2;
    color: rgb(105, 105, 105);
}

#cards {
    margin: 40px 0 0 0;
}

.listing-card {
    min-width: 300px;
    max-width: 300px;
    height: 500px;
    border: 1px solid;
    border-color: rgb(211, 211, 211);
    overflow: hidden;
}

.listing-card-img {
    display: flex;
    justify-content: center;
}

.listing-card-img img{
    width: 400px;
    height: 250px;
}

.listing-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 250px;
}

.listing-card-content p {
    color: rgb(151, 151, 151);
    font-size: 15px;
}

.listing-card-content-address {
    text-align: center;
    line-height: 1.5;
}

.listing-card-content-address p {
    margin: 10px;
}

.view-listing-button {
    position: absolute; 
    margin:-16px 0px 0px 100px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    background-color: #4A2574;
    color: white;
    width: 100px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    transition-duration: 0.2s;
    box-shadow: 0px 12px 18px -6px #cca5f9;
    font-size: 15px;
    line-height: 40px;
}

.view-listing-button:hover {
    width: 120px;
    margin:-16px 0px 0px 90px;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 75px;
}

footer {
    background-color:#CDBDDF;
    padding: 20px;
}

#footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1060px) {
    #cards {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    li {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li:nth-last-child(-n + 2) {
        width: 100%;
        height: 100%;
        background-color: #4A2574;
        text-align: center;
      }
    
    .sign-in-register-button {
        background-color: #4A2574;
        color:#fff;
        padding: 0;
        border: none;
    }

    .sign-in-register-button:hover {
        background-color: #4A2574;
        color: #833fd2;
    }

}

@media screen and (max-width: 900px) {
    #homepage-maintext {
        font-size: 50px;
    }
    #homepage-captiontext {
        font-size: 30px;
    }
}

@media screen and (max-width: 550px) {
    #homepage-maintext {
        font-size: 30px;
    }
    #homepage-captiontext {
        font-size: 20px;
    }
}

